Checks: >
     -*,
     bugprone-*,
       -bugprone-easily-swappable-parameters,
     clang-analyzer-*,
     clang-diagnostic-*,
     cppcoreguidelines-*,
       -cppcoreguidelines-avoid-c-arrays,
       -cppcoreguidelines-avoid-magic-numbers,
       -cppcoreguidelines-avoid-non-const-global-variables,
       -cppcoreguidelines-init-variables,
       -cppcoreguidelines-interfaces-global-init,
       -cppcoreguidelines-macro-usage,
       -cppcoreguidelines-non-private-member-variables-in-classes,
       -cppcoreguidelines-owning-memory,
       -cppcoreguidelines-pro-*,
     misc-*,
       -misc-const-correctness,
       -misc-include-cleaner,
       -misc-non-private-member-variables-in-classes,
       -misc-use-anonymous-namespace,
     modernize-*,
       -modernize-avoid-c-arrays,
       -modernize-use-trailing-return-type,
     performance-*,
       -performance-avoid-endl,
     portability-*,
     readability-*,
       -readability-avoid-const-params-in-decls,
       -readability-braces-around-statements,
       -readability-else-after-return,
       -readability-function-cognitive-complexity,
       -readability-function-size,
       -readability-identifier-length,
       -readability-implicit-bool-conversion,
       -readability-isolate-declaration,
       -readability-magic-numbers,
       -readability-named-parameter,
       -readability-simplify-boolean-expr,
     mpi-*,
     openmp-*

HeaderFilterRegex: '(/conductivity/|/constants/|/EOS/|/integration/|/interfaces/|/networks/|/neutrinos/|/nse_solver/|/opacity/|/rates/|/screening/|/util/|^\./|^./tmp_build_dir/microphysics_sources/*/).*\.H$'