Carl E. Fields <fieldsc9@msu.edu> carlnotsagan <fieldsc9@msu.edu>
Carl E. Fields <fieldsc9@msu.edu> Carl Edward Fields <fieldsc9@msu.edu>
Donald Willcox <eugene.willcox@gmail.com> dwillcox <eugene.willcox@gmail.com>
Donald Willcox <eugene.willcox@gmail.com> dwillcox <dwillcox@electra.iacs.stonybrook.edu>
Donald Willcox <eugene.willcox@gmail.com> Donald E. Willcox <dwillcox@users.noreply.github.com>
Donald Willcox <eugene.willcox@gmail.com> Donald E. Willcox <dewillcox@lbl.gov>
Donald Willcox <eugene.willcox@gmail.com> Donald E. Willcox <eugene.willcox@gmail.com>
Abigail Bishop <ms.abigailbishop@gmail.com> abigailbishop <ms.abigailbishop@gmail.com>
Sydney Andrews <sandshrews@electra.iacs.stonybrook.edu> sandshrews <31483193+sandshrews@users.noreply.github.com>