name: burn_cell_sdc

on: [pull_request]
jobs:
  burn_cell_sdc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get AMReX
        run: |
          mkdir external
          cd external
          git clone https://github.com/AMReX-Codes/amrex.git
          cd amrex
          git checkout development
          echo 'AMREX_HOME=$(GITHUB_WORKSPACE)/external/amrex' >> $GITHUB_ENV
          echo $AMREX_HOME
          if [[ -n "${AMREX_HOME}" ]]; then exit 1; fi
          cd ../..

      - name: Install dependencies
        run: |
          sudo apt-get update -y -qq
          sudo apt-get -qq -y install curl cmake jq clang g++>=9.3.0

      - name: Compile, burn_cell_sdc (aprox19)
        run: |
          cd unit_test/burn_cell_sdc
          make realclean
          make NETWORK_DIR=aprox19 -j 4

      - name: Run burn_cell_sdc (aprox19)
        run: |
          cd unit_test/burn_cell_sdc
          ./main3d.gnu.ex inputs_aprox19.ci

      - name: Compare to stored output (aprox19)
        run: |
          cd unit_test/burn_cell_sdc
          diff state_over_time.txt ci-benchmarks/aprox19_state_over_time.txt

