name: cmake_burn_cell_primordial_chem

on: [pull_request]
jobs:
  burn_cell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          sudo apt-get update -y -qq
          sudo apt-get -qq -y install curl cmake jq clang g++>=9.3.0 libopenmpi-dev

      - name: Compile and run
        run: |
          mkdir build && cd build
          cmake .. -DBUILD_UNIT_TEST=true -DBUILD_AMREX=true
          make -j2


