name: "compiler warnings"

on: [pull_request]
jobs:
  compiler_warnings:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get AMReX
        run: |
          mkdir external
          cd external
          git clone https://github.com/AMReX-Codes/amrex.git
          cd amrex
          git checkout development
          echo 'AMREX_HOME=$(GITHUB_WORKSPACE)/external/amrex' >> $GITHUB_ENV
          echo $AMREX_HOME
          if [[ -n "${AMREX_HOME}" ]]; then exit 1; fi
          cd ../..

      - name: Install dependencies
        run: |
          sudo apt-get update -y -qq
          sudo apt-get -qq -y install curl g++>=9.3.0

      - name: Compile burn_cell w/ debug
        run: |
          cd unit_test/burn_cell
          make realclean
          make USE_MPI=FALSE USE_OMP=FALSE DEBUG=TRUE WARN_ALL=TRUE WARN_ERROR=TRUE NETWORK_DIR=he-burn/he-burn-19a -j 4

      - name: Compile burn_cell w/o debug
        run: |
          cd unit_test/burn_cell
          make realclean
          make USE_MPI=FALSE USE_OMP=FALSE WARN_ALL=TRUE WARN_ERROR=TRUE NETWORK_DIR=he-burn/he-burn-19a -j 4

      - name: Compile burn_cell_sdc w/ debug
        run: |
          cd unit_test/burn_cell_sdc
          make realclean
          make USE_MPI=FALSE USE_OMP=FALSE DEBUG=TRUE WARN_ALL=TRUE WARN_ERROR=TRUE NETWORK_DIR=he-burn/he-burn-19a USE_NSE_NET=TRUE SCREEN_METHOD=chabrier1998 -j 4

      - name: Compile burn_cell_sdc w/o debug
        run: |
          cd unit_test/burn_cell_sdc
          make realclean
          make USE_MPI=FALSE USE_OMP=FALSE WARN_ALL=TRUE WARN_ERROR=TRUE NETWORK_DIR=he-burn/he-burn-19a USE_NSE_NET=TRUE SCREEN_METHOD=chabrier1998 -j 4

      - name: Compile test_eos w/ debug
        run: |
          cd unit_test/test_eos
          make realclean
          make USE_MPI=FALSE USE_OMP=FALSE DEBUG=TRUE WARN_ALL=TRUE WARN_ERROR=TRUE EOS_DIR=gamma_law -j 4

      - name: Compile test_eos w/o debug
        run: |
          cd unit_test/test_eos
          make realclean
          make USE_MPI=FALSE USE_OMP=FALSE WARN_ALL=TRUE WARN_ERROR=TRUE EOS_DIR=gamma_law -j 4

      - name: Compile test_sdc w/ debug
        run: |
          cd unit_test/test_sdc
          make realclean
          make USE_MPI=FALSE USE_OMP=FALSE DEBUG=TRUE WARN_ALL=TRUE WARN_ERROR=TRUE NETWORK_DIR=aprox19 USE_NSE_TABLE=TRUE -j 4

      - name: Compile test_sdc w/o debug
        run: |
          cd unit_test/test_sdc
          make realclean
          make USE_MPI=FALSE USE_OMP=FALSE WARN_ALL=TRUE WARN_ERROR=TRUE NETWORK_DIR=aprox19 USE_NSE_TABLE=TRUE -j 4
