name: macos_burn_cell_primordial_chem

on: [pull_request]
jobs:
  burn_cell:
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: |
          brew update
          brew install cmake openmpi python3

      - name: Compile and run
        run: |
          mkdir build && cd build
          cmake .. -DBUILD_UNIT_TEST=true -DBUILD_AMREX=true
          make -j2
          ctest --output-on-failure
