name: test_rhs

on: [pull_request]
jobs:
  burn_cell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get AMReX
        run: |
          mkdir external
          cd external
          git clone https://github.com/AMReX-Codes/amrex.git
          cd amrex
          git checkout development
          echo 'AMREX_HOME=$(GITHUB_WORKSPACE)/external/amrex' >> $GITHUB_ENV
          echo $AMREX_HOME
          if [[ -n "${AMREX_HOME}" ]]; then exit 1; fi
          cd ../..

      - name: Install dependencies
        run: |
          sudo apt-get update -y -qq
          sudo apt-get -qq -y install curl cmake jq clang g++>=9.3.0

      - name: Compile, test_rhs (VODE, ignition_simple)
        run: |
          cd unit_test/test_rhs
          make realclean
          make NETWORK_DIR=ignition_simple -j 4

      - name: Run test_rhs (VODE, ignition_simple)
        run: |
          cd unit_test/test_rhs
          ./main3d.gnu.ex inputs_ignition_simple
          fextrema react_ignition_simple_test_rhs.VODE > test.out

      - name: Compare to stored output (VODE, ignition_simple)
        run: |
          cd unit_test/test_rhs
          diff test.out ci-benchmarks/ignition_simple.out
